/*加载等待层样式*/
#loading-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:20000;
	background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
	height:auto;
	background-color:white;
}
#loading .loading-indicator{
	background:white;
	color:#444;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
	height:auto;
}
#loading-msg {
	font: normal 10px arial,tahoma,sans-serif;
}
/*模板样式*/
.header {
		font-weight:normal;
		background-color:#F3F4F5;
		font-size: 12px;
}